# Бинарные файлы и сборка
*.o
*.a
*.so
*.pro.user
Makefile
moc_*.cpp
qrc_*.cpp
ui_*.h
build/
*.exe
*.out

# Временные файлы
build/
*.out
*.exe
*.o
*.so
*.a

# Лог-файлы (они генерируются при работе)
temperature_raw.log
temperature_hourly.log
temperature_daily.log
temperature_daily_*.log

# Временные файлы редакторов
*~
*.swp
*.swo

# IDE/редактор файлы
.vscode/
.idea/
*.code-workspace

# macOS
.DS_Store
